body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    flex-direction: column;
    text-align: center;     
  }
h3{
    margin-bottom: 15px; /* Espacio entre el título y los botones */
}
  

button {
    display: flex;
    background-color: lightseagreen;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    
    
}
a{
    min-width: 150px;
    min-height: 30px;
    background-color: lightblue;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 19px;
    cursor: pointer;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 16px;
    
}
a:hover{
    background-color: lightblue;
}

button:hover {
    background-color: lightskyblue;
}

.congSelector{
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    border: none;
    background-color: ghostwhite;
    font-size: 15px;
    min-width: 100px;
    min-height: 100px;
}

.loginPersonIcon{
    display: flex;
    width: 20px;
    height: 20px;
    justify-content: center;
    text-align: center;
    align-items: center;
}